.container {
  margin-left: 250px;
  padding: 40px 0  20px 0;
  .top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .topleft {
      color: #666A6E;
      width: 20%;
      margin: 10px 0 0 20px;
      padding-left: 20px;
    }
    .topmid {
      width: 50%;
      position: relative;
      img {
        left: 5px;
        top: 12px;
        position: absolute;
      }
      .midinput {
        height: 20px;
        width: 100%;
        outline: 0;
        padding: 7px;
        padding-left: 20px;
      }
    }
    .topright {
      display: flex;
      width: 20%;
      box-sizing: border-box;
      padding-left: 60px;
      img:nth-of-type(1) {
        width: 16px;
        height: 20px;
        margin-top: 3px;
      }
      img:nth-of-type(2) {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 3px;
      }
      img:nth-of-type(3) {
        width: 12px;
        height: 9px;
        margin-left: 10px;
        margin-top: 8px;
      }
    }
  }
  .garyclor {
    color: #666A6E;
  }
  .content{
    width: 100%;
    .contenttop{
      border-top: 1px solid #DBE4EB;
      border-bottom: 1px solid #DBE4EB;
      color: #9AA1A7;
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      height: 37px;
      font-size: 12px;
      font-weight: bold;
      line-height: 37px;
      div {
        box-sizing: border-box;
        width: 14%;
        //text-align: center;
      }
      div:nth-of-type(1) {
         padding-left: 34px;
       }
      div:nth-of-type(2) {
         padding-left: 80px;
      }
      div:nth-of-type(3) {
        padding-left: 72px;
      }
      div:nth-of-type(4) {
        padding-left: 25px;
      }
      div:nth-of-type(5) {
        padding-left: 20px;
      }
      div:nth-of-type(6) {
        padding-left: 20px;
      }
      div:nth-of-type(7) {
        padding-left: 48px;
      }
    }
    .contentmid{
      ul {
        padding: 0;
        li {
          display: flex;
          color: #9AA1A7;
          justify-content: space-around;
          line-height: 37px;
          font-size: 14px;
          border-bottom: 1px solid #DBE4EB;
          button {
            background-color: #1DA2FE;
            .action {
              color: white;
              font-family: futura;
            }
          }
          .hidebox {
            width: 110px;
            height: 34px;
          }
        }
      }
    }
    .contentfooter {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      .pageword {
        font-size: 14px;
        color: #9AA1A7;
        margin-right: 30px;
      }
      .pagecount {
        display: flex;
        margin-right: 20px;
        img {
          width: 10px;
          height: 5px;
          margin-top: 5px;
        }
      }
      .pagetotal {
        margin-right: 20px;
        color: #9AA1A7;
        font-size: 14px;
      }
      .pagearrows {
        display: flex;
        margin-right: 10px;
        img {
          width: 8px;
          height: 13px;
          margin-left: 15px;
        }
      }
    }
  }
}
