<app-admin-leftnav></app-admin-leftnav>

<div class="container">
  <div class="top">
    <div class="topleft">
      <img src="./assets/images/arrow-left.png" alt="">
      <div class="back" (click)="goBack()">Back to Overview</div>
      <div class="titleword">Withdraw</div>
    </div>
    <div class="topmid"></div>
  </div>
  <div class="content">
    <div class="midtip">
      <div class="part1">
        <img src="./assets/images/mint-white.png">
        <div>Burn</div>
      </div>
      <div class="part2">
        <img src="./assets/images/transfer-blue.png">
        <div>Transfer</div>
      </div>
      <div class="heng"></div>
    </div>
    <div class="miduser">
      <div class="userword">USER</div>
      <div class="userbox">
        <div class="boxleft">
          <div class="part1">
            <div>Email:</div>
            <div class="garyclor">user@gmail.com </div>
          </div>
          <div class="part2">
            <div>Address: </div>
            <div class="garyclor">0x90E4bE5CD......</div>
          </div>
        </div>
        <div class="boxright">
          <div class="part1">
            <div class="boxrighttitle">Total Balance</div>
          </div>
          <div class="part2">
            <div>46129.7</div>
            <div>AcmeUSD</div>
          </div>
        </div>
      </div>
    </div>
    <div class="midrequest">
      <div class="requestword">REQUEST</div>
      <div class="requestbox">
        <div class="boxtitle">
          <div class="titleleft">
            <div>Request Number</div>
            <div class="garyclor">XXXXXXX004</div>
          </div>
          <div class="titleright">
            <div>Current Status</div>
            <div class="garyclor">Withdraw Requested</div>
          </div>
        </div>
        <div class="boxcontent">
          <div class="contentleft">
            <div class="part1" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Type:</div>
              <div class="garyclor">Withdraw Request</div>
            </div>
            <div class="part2" fxLayout="row">
              <div class="ligthgarycolor"  style="width: 30%">Date:</div>
              <div class="garyclor">02 Sep 2017  18:37:47</div>
            </div>
            <div class="part3" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Currency:</div>
              <div class="garyclor">USD</div>
            </div>
            <div class="part4" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Amount:</div>
              <div class="garyclor">45129.07</div>
            </div>
            <div class="part5" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Bank:</div>
              <div class="garyclor">BOCHK XXXXXXXXX</div>
            </div>
            <div class="part6" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Payment:</div>
              <div class="garyclor">Wire Transfer</div>
            </div>
            <div class="part7" fxLayout="row">
              <div class="ligthgarycolor" style="width: 30%">Token:</div>
              <div class="garyclor">USD</div>
            </div>
          </div>
          <div class="contentrigth">
            <mat-form-field>
              <input matInput placeholder="Transfer ID" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Include Code" type="text">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="dbutoons">
      <span (click)="chage()">
        <button mat-raised-button color="primary" *ngIf="!toggle"><div class="action">Sent</div></button>
        <button mat-raised-button  *ngIf="toggle" class="graycolor"><div class="action">Sent</div></button>
      </span>
    </div>
    <div class="hideBox" *ngIf="toggle">
      <img src="./assets/images/error_outline_black.png" alt="">
      <span class="white">Customer will be notified the completion.  Please select complete and go back to overview. Result will be updated on overview shortly. </span>
      <span class="blue">COMPLETE</span>
    </div>
  </div>
</div>
