<app-admin-leftnav></app-admin-leftnav>

<div class="container">
  <div class="top">
    <div class="topleft">
      <img src="./assets/images/arrow-left.png" alt="">
      <div class="back" (click)="goBack()">Back to Overview</div>
      <div class="titleword">KYC</div>
    </div>
    <div class="topmid"></div>
  </div>
  <div class="content">

    <div class="miduser">
      <div class="userword">USER</div>
      <div class="userbox">
        <div class="boxleft">
          <div class="part1">
            <div>Email:</div>
            <div class="garyclor">user@gmail.com </div>
          </div>
          <div class="part2">
            <div>Address: </div>
            <div class="garyclor">0x90E4bE5CD......</div>
          </div>
        </div>
        <div class="boxright">
          <div class="part1">
            <div class="boxrighttitle">Total Balance</div>
          </div>
          <div class="part2">
            <div>46129.7</div>
            <div>AcmeUSD</div>
          </div>
        </div>
      </div>
    </div>
    <div class="midrequest">
      <div class="requestword">REQUEST</div>
      <div class="requestbox">
        <div class="boxtitle">
          <div class="titleleft">
            <div>Request Number</div>
            <div class="garyclor">XXXXXXX004</div>
          </div>
          <div class="titleright">
            <div>Current Status</div>
            <div class="garyclor">KYC Requested</div>
          </div>
        </div>
        <div class="boxcontent">
          <div class="contentleft">
            <div class="passpost">
              <p>you passpost</p>
              <img src="./assets/images/passpost.png" alt="">
            </div>
            <div class="selfie">
              <p>you selfie</p>
              <img src="./assets/images/selfie.png" alt="">
            </div>
          </div>
          <div class="contentrigth">
            <div class="part1">
              <mat-select placeholder="Select">
                <mat-option selected value="Full KYC">Full KYC</mat-option>
                <mat-option value="KYC">KYC</mat-option>
              </mat-select>
              <div class="buttons" (click)="chage1()">
                <button mat-raised-button color="primary" *ngIf="!toggle1">
                  <div class="action">Submit</div>
                </button>
                <button mat-raised-button *ngIf="toggle1" class="graycolor">
                  <div class="action">Submit</div>
                </button>
              </div>

            </div>
            <div class="part2">
              <textarea class="rejocktext"></textarea>
              <div class="butotns" (click)="chage2()">
                <button mat-raised-button color="primary" *ngIf="!toggle2">
                  <div class="action">Rejock</div>
                </button>
                <button mat-raised-button *ngIf="toggle2" class="graycolor">
                  <div class="action">Rejock</div>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="dbutoons">
      <span (click)="chage3()">
        <button mat-raised-button color="primary" *ngIf="!toggle3">
          <div class="action">Sent</div>
        </button>
        <button mat-raised-button *ngIf="toggle3" class="graycolor">
          <div class="action">Sent</div>
        </button>
      </span>
    </div> -->
    <div class="hideBox" *ngIf="toggle1">
      <img src="./assets/images/error_outline_black.png" alt="">
      <span class="white">System processing… Please select complete and go back to overview. Result will be updated on overview shortly. </span>
      <span class="blue">COMPLETE</span>
    </div>
    <div class="hideBox" *ngIf="toggle2">
      <img src="./assets/images/error_outline_black.png" alt="">
      <span class="white">System processing… Please select complete and go back to overview. Result will be updated on overview shortly. </span>
      <span class="blue">COMPLETE</span>
    </div>
  </div>
</div>
