<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet"
          href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css">

    <style>

        html, body {
            width: 100%;
            height: 100%;
            margin: 0
        }

        .container {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        }

        .content {
            width: 450px;
            height: 500px;
        }
    </style>
</head>
<body class="container">


<section class="content">
    <div class="mdc-card demo-card">
        <section class="mdc-card__media demo-card__16-9-media"></section>
        <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">Sign In</h1>
        </section>
        <section class="mdc-card__actions">


            <form action="/api/v1/users/authorize" method="post"
                  style="width:100%; display: flex; flex-flow: column; justify-content: center; align-items: center; ">
                <input name="transaction_id" type="hidden" value="<%= transactionID %>">

                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                    <input class="mdc-text-field__input" type="email" name="username" id="email">
                    <label for="email" class="mdc-text-field__label">Email</label>
                </div>

                <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                    <input class="mdc-text-field__input" type="password" name="password" id="password">
                    <label for="password" class="mdc-text-field__label">Password</label>
                </div>
                <button type="submit" class="mdc-button mdc-button--compact mdc-card__action">Submit</button>
            </form>


        </section>
    </div>
</section>


<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script>mdc.autoInit()</script>

</body>
</html>