<app-admin-leftnav></app-admin-leftnav>

<div class="container">
  <div class="top">
    <div class="topleft">
      Withdraw Overview
    </div>
    <div class="topmid">
      <img src="./assets/images/search.png" alt="">
      <input type="text" class="midinput" placeholder="Search">
    </div>
    <div class="topright">
      <img src="./assets/images/notification.png" alt="">
      <img src="./assets/images/userimg.png" alt="">
      <img src="./assets/images/arrow-down.png" alt="">
    </div>
  </div>
  <div class="content">


    <mat-table #table [dataSource]="dataSource" class="example-table"
               matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         disableClear="true">
          Date
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.timestamp * 1000| date: 'medium' }}</mat-cell>
      </ng-container>


      <!-- Request NO. Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Request NO.</mat-header-cell>
        <mat-cell *matCellDef="let row">Withdraw-{{ row.id }}</mat-cell>
      </ng-container>

      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef>User Address</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.userId }}</mat-cell>
      </ng-container>


      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.ccy }}</mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.amount }}</mat-cell>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
      </ng-container>


      <!-- State Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">

          <button *ngIf="row.state==='TOKEN_TRANSFERRED'" mat-raised-button color="primary"
                  [routerLink]="['/en-US/admin/burn-request',row.id]"><span class="action">Burn</span></button>
          <div *ngIf="row.state!=='TOKEN_TRANSFERRED'" color="primary"><span class="action">N/A</span></div>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
</div>
